.works {
  height: 100vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;

  .container {
    width: 70%;
    display: flex;
    justify-content: space-between;

    .left {
      flex: 1;
      display: flex;
      align-items: center;

      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
          font-size: 43px;
          font-weight: bold;
          cursor: pointer;
          color: transparent;
          -webkit-text-stroke: 1px white;
          
          span {
            position: relative;
            z-index: 1;
            transition: all ease 1s;
          }

          &:hover {
            span {
              color: rgb(231, 105, 59);
              -webkit-text-stroke: 0;
            }
          }
        }
      }
    }
    .right {
      flex: 1;
    }
  }
}
